@font-face {
  font-family: faruma;
  src: url(../fonts/Faruma.otf);
}

body {
  /* background: #fafafa; */
  background: #fff8f8;
  color: #333333;
  margin-top: 5rem;
  font-family: faruma;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

/* @media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
} */

.asteriskField {
  display: none;
}

.modal-header .btn-close {
  margin: 0;
}

.list-group-item{
  padding: 15px;
  border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe;
}

.bg-nav {
  background-color: #9B4444;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  /* background: #ffffff; */
  background: #f6fbf5;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* .comment-section {
  background: #f6fbf5;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
} */

.sticky-paginator {
  position: sticky;
  top: 60px;
}

a {
  color: #00843D;
  text-decoration: none;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #1A4D2E;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
}

.article-metadata a:hover {
  color: #333;
}

.article-metadata small {
  font-size: smaller;
}

.media {
  overflow: hidden;
}

.article-heading {
  padding-bottom: 12px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin: 40px 0 16px 0;
}

.comment-box {
  width: 700px;
  height: 100px;
  padding: 12px 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 35px;
  background-color: #fff2f2;
  resize: none;
}

.detail-button {
  font-size: smaller;
}

.profile-button {
  font-size: x-small;
}

/* .account-heading {
  font-size: 2.5rem;
} */
