{% extends "blog/blog_base.html" %}

{% block title %}
މައުލޫމާތު
{% endblock %}

{% block content %}
<article class="content-section">
  <h2 class="article-heading">
    ސައިޓް އާ ބެހޭަ މައުލޫމާތު
  </h2>
  <div>
    <p></p>
    <p>ދިވެހީންނަކީ ދިވެހިބަހަށް އިސްކަންދީގެން ދިވެހިބަސް ހެޔޮ ގޮތުގައި ބޭނުންކުރަން ދަންނަ ބަޔަކަށްވުމާއެކު،;ދިވެހި ބަހާއި ތާރީޚާއި ޘަޤާފަތާއި އާދަކާދައާ މެދު ފަޚުރުވެރިވެ ދިވެހިބަހާއި ތާރީޚާއި ޘަޤާފަތާއި އާދަކާދަ ރައްކައުތެރިކޮށް ދިރުވައިއާލާކުރާ ބަޔަކުކަމުގައިވުން.</p>
    <p><strong>މުހިންމު</strong></p>
    <p>ދިވެހިބަސް ޙިމާޔަތްކޮށް، ރައްކައުތެރިކޮށް، ދިރުވައި، ދަމަހައްޓައި، ކުރިއަރުވައި މުއްސަނދިކޮށް އަންނާން އޮތް ޖީލުތަކަށް އަމާނާތްތެރިކަމާއެކު ވާސިލްކޮށްދިނުމާއެކު ދިވެހިބަހާއި ދިވެހިތާރީޚާއި ދިވެހި ސަގާފަތާބެހޭ އެންމެ އިތުބާރުހުރި އެންމެ ޞައްޙަ މަޢުލޫމާތު ލިބެންހުންނަ ޤައުމީ މުއައްސަސާއަށްހެދުން.</p>
    <p><strong>ހިއްސާކުރާ އަސާސީ އަގުތައް</strong></p>
    <p>އިޚްލާޞްތެރިކަން</p>
    <p>ތެދުވެރިކަން</p>
    <p>ވަފާތެރިކަން</p>
    <p>އޯގާވެރިކަން</p>
    <p>ހިތްހެޔޮކަން</p>
    <p><strong>މުވައްޒަފުންގެ ސިފަ</strong></p>
    <p>ދިވެހި ބަހުގެ އެކެޑަމީގެ ކޮންމެ މުވައްޒަފަކުމެ ރައްޔިތުންނަށް ޚިދުމަތްދިނުމުގައި މަސައްކަތްކުރާނީ އިޚްލާޞްތެރިކަމާއި ތެދުވެރިކަމާއި ވަފާތެރިކަމާއި އޯގާވެރިކަމާއި ހިތްހެޔޮކަމާ އެކުގައެވެ.</p>
    <p><strong>ދިވެހިބަހުގެ އެކެޑަމީން ދޭ ޚިދްމަތްތައް</strong></p>
    <ul>
      <li>ދިވެހިބަހާއި ދިވެހިތާރީޚާއި ޘަޤާފަތާބެހޭ މަޢުލޫމާތު ދިނުން.<br><br></li>
      <li>ދިވެހި ދިރާސީ ކުތުބުޚާނާގެ ޚިދުމަތް ދިނުން.<br><br></li>
      <li>ދިވެހިބަހާއި އަދަބިއްޔާތުގެ އެކިއެކި ކޯސްތަކާއި ތާރީޚާ ގުޅުންހުރި ކޯސްތައް ހިންގުން<br><br></li>
      <li>އެކިއެކި ކޯސްތައް ފުރިހަމަކުރާ ފަރާތްތަކަށް ބޭނުންވާ ދިރާސީ މަޢުލޫމާތު ދިނުން.<br><br></li>
      <li>ދިވެހިބަހުގެ އެކެޑަމީން ތައްޔާރުކުރާ ފޮތްތަކާއި މިނިސްޓްރީ އޮފްއެޑިއުކޭޝަނުން ތައްޔާރުކުރާފޮތްފޮތް ވިއްކުން.<br><br></li>
      <li>ދިވެހިބަހާއި ތާރީޚާއި ޘަޤާފަތާ ބެހޭ ގޮތުން އެކި ފަރާތްތަކުން ކުރާ ދިރާސާތަކަށް ބޭނުންވާ ޢިލްމީ އަދި ފަންނީ ލަފާ ދިނުން.<br><br></li>
      <li>ދިވެހިބަހުގެ ބަސްކޮށާރަށް އަންނަ ބަދަލުތަކާ ބެހޭ މަޢުލޫމާތު ދިނުން.<br><br></li>
      <li>ދިވެހިބަހުގެ ޤަވާޢިދާ ބެހޭ މަޢުލޫމާތު އެކި ފަރާތްތަކާ ހިއްސާ ކުރުން.<br><br></li>
      <li>ދިވެހިބަހާއި ތާރީޚާއި ޘަޤާފަތާ ބެހޭގޮތުން ޢާއްމުން ކުރާ ސުވާލުތަކަށް ޖަވާބު ދިނުން.</li>
    </ul>
  </div>
</article>
{% endblock content %}