{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<!-- Site Header & Nav -->
<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-nav fixed-top">
    <div class="container">
      <a class="navbar-brand me-4" href="{% url 'blog-homepage' %}">
        <img src="{% static 'brand/Maldives_Flag.png' %}" alt="Maldivian Flag">
        ދިވް
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav me-auto align-items-start">
          <a class="nav-item nav-link" href={% url 'blog-homepage' %}>މައި ޞަފްޙާ</a>
          <a class="nav-item nav-link" href={% url 'blog-aboutpage' %}>ސައިޓް އާ ބެހޭަ މައުލޫމާތު</a>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-nav align-items-start">
          <button class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#logoutModal">ލޮގްއައުޓް</button>
          <a class="nav-item nav-link" href={% url 'users-profilepage' %}>ޕްރޮފައިލް</a>
        </div>
        {% else %}
        <div class="navbar-nav align-items-start">
          <button class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">ލޮގްއިން</button>
          <button class="nav-item nav-link fs-" data-bs-toggle="modal" data-bs-target="#registerModal">ރެޖިސްޓަރ</button>
        </div>
        {% endif %}

      </div>
    </div>
  </nav>
</header>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header justify-content-between">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title fs-5" id="loginModalLabel">ލޮގްއިން</h1>
      </div>

      <form method=POST>
        <div class="modal-body">
          <div class="form-floating" dir="rtl">
            {% csrf_token %}
            {{ login_form|crispy }}
          </div>
        </div>

        <div class="modal-footer">
          <small class="btn btn-link btn-sm me-auto" data-bs-toggle="modal" data-bs-target="#registerModal">އާ އެކައުންޓެއް ހެއްދެވުމަށް</small>
          <button class="btn btn-danger btn-sm" type="submit" name="submit" value="log_in">އެކައުންޓަށް ލޮގްއިން ވުމަށް</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header justify-content-between">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title fs-5" id="registerModalLabel">ރެޖިސްޓަރ</h1>
      </div>

      <form method=POST>
        <div class="modal-body">
          <div class="form-floating" dir="rtl">
            {% csrf_token %}
            {{ reg_form|crispy }}
          </div>
        </div>

        <div class="modal-footer">
          <small class="btn btn-link btn-sm me-auto" data-bs-toggle="modal" data-bs-target="#loginModal">އެކައުންޓަކަށް ލޮގްއިން ވުމަށް</small>
          <button class="btn btn-success btn-sm" type="submit" name="submit" value="sign_up">އެކައުންޓް ރެޖިސްޓަރ ކުރެއްވުމަށް</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Logout Modal -->
<div class="modal modal-sm fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-pill">

      {% comment %} <div class="modal-header">
        <h1 class="modal-title fs-5" id="logoutModalLabel">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> {% endcomment %}

      <div class="modal-body d-flex justify-content-around align-items-center">
        <form method=POST>
          {% csrf_token %}
          <button class="btn btn-outline-secondary rounded-5 btn-lg" type="submit" name="submit" value="log_out">ލައްބަ</button>
        </form>
        <h2>ޔަގީންތޯ؟</h2>
      </div>

      {% comment %} <div class="modal-footer">
        <button class="btn btn-danger" type="submit" name="submit" value="log_out">Yes</button>
      </div> {% endcomment %}

    </div>
  </div>
</div>

<!-- Change Profile Modal -->
<div class="modal fade" id="changeProfModal" tabindex="-1" aria-labelledby="changeProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header justify-content-between">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title fs-5" id="profileModalLabel">{{ user.username }} ގެ ޕްރޮފައިލް</h1>
      </div>

      <form method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          {% csrf_token %}
          <fieldset class="form-group" dir="rtl">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success btn-sm" type="submit" name="submit" value="change_prof">ބަދަލުތައް ޔަގީން ކޮއްލުމަށް</button>
        </div>
      </form>

    </div>
  </div>
</div>


<!-- Site Main Content -->
<main role="main" class="container" dir="rtl">
  <div class="row">
    <div class="col-md-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock content %}
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group pe-0 ms-2">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock body %}