{% extends "blog/blog_base.html" %}

{% block title %}
ޕޯސްޓް
{% endblock %}

{% block content %}
  <article class="media content-section d-flex flex-row">
    <img class="rounded-circle article-img border border-secondary" src="{{ post.author.profile.image.url }}">
    <div class="media body me-4 flex-fill">
      <div class="article-metadata">
        <a href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"Y M d" }}</small>
      </div>
      <h2 class="my-3 article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      {% if request.user == post.author %}
      <div class="buttons d-flex justify-content-end mt-3">
        <a class="btn btn-outline-secondary btn-sm rounded-5 ms-5" href="#">އަޕްޑޭޓް ކޮއްލުމަށް</a>
        <button class="btn btn-outline-danger btn-sm rounded-5" data-bs-toggle="modal" data-bs-target="#deletePostModal">ޑިލީޓް ކޮއްލުމަށް</button>
      </div>
      {% endif %}
    </div>
  </article>
{% endblock content %}