{% extends "blog/blog_base.html" %}
{% load format_date %}

{% block title %}
ޕޯސްޓް
{% endblock %}

{% block content %}
  <article class="media content-section d-flex">
    <div class="d-flex flex-column flex-shrink-0">
      <img class="rounded-circle article-img border border-secondary align-self-center" src="{{ post.author.profile.image.url }}">
      {% if user == post.author %}
      <a class="btn btn-outline-secondary btn-sm detail-button rounded-5 mt-2" href={% url 'blog-postupdate' post.pk %}>އަޕްޑޭޓް</a>
      <button class="btn btn-outline-danger btn-sm detail-button rounded-5 mt-2" data-bs-toggle="modal" data-bs-target="#deletePostModal">ޑިލީޓް</button>
      {% endif %}
    </div>

    <div class="media body me-4 flex-grow-1">
      <div class="article-metadata">
        {% if user == post.author %}
        <a href={% url 'users-profilepage' %}>{{ post.author }}</a>
        {% else %}
        <a href={% url 'blog-viewprofile' post.author.username %}>{{ post.author }}</a>
        {% endif %}
        <small class="text-muted">{{ post.date_posted|format_date }}</small>
      </div>
      
      <h2 class="my-3 article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      {% comment %} {% if request.user == post.author %}
      <div class="buttons d-flex justify-content-end mt-3">
        <a class="btn btn-outline-secondary btn-sm rounded-5 ms-5" href={% url 'blog-postupdate' post.pk %}>އަޕްޑޭޓް ކޮއްލުމަށް</a>
        <button class="btn btn-outline-danger btn-sm rounded-5" data-bs-toggle="modal" data-bs-target="#deletePostModal">ޑިލީޓް ކޮއްލުމަށް</button>
      </div>
      {% endif %} {% endcomment %}
    </div>
  </article>

  <article class="media content-section">

    {% if user.is_authenticated %}
    <form method=POST class="d-flex flex-row justify-content-evenly">
      {% csrf_token %}
      {{ comment_form }}
      <button class="btn btn-danger align-self-center" type="submit" name="submit" value="comment">ކޮމެންޓް</button>
    </form>
    {% endif %}

    {% for comment in post.comments.all %}
    <div class="media body me-4 mt-4 d-flex flex-column" style="margin-left:95px;">
      <div class="article-metadata">
        {% if user == comment.author %}
        <a href={% url 'users-profilepage' %}>{{ comment.author }}</a>
        {% else %}
        <a href={% url 'blog-viewprofile' comment.author.username %}>{{ comment.author }}</a>
        {% endif %}
        <small class="text-muted">{{ comment.date_posted|format_date }}</small>
      </div>
      <p class="article-content">{{ comment.content }}</p>
    </div>
    {% endfor %}

  </article>

{% endblock content %}