{% extends "blog/blog_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
އާ ޕޯސްޓް
{% endblock %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">އާ ޕޯސްޓް</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">ޕޯސްޓް ކޮއްލެވުމަށް</button>
        </div>
    </form>
</div>
{% endblock content %}