{% extends "blog/blog_base.html" %}
{% load format_date %}

{% block title %}
ޕްރޮފައިލް
{% endblock %}

{% block content %}
<div class="content-section">
  <div class="media d-flex position-relative">
    <h3 class="account-heading position-absolute">{{ user.username }}</h3>
    <div>
      <img class="rounded-circle account-img border border-secondary" src="{{ user.profile.image.url }}">
    </div>
    <p class="align-self-center p-3 mt-5">{{ user.profile.bio }}</p>
    <div class="position-absolute top-0 start-0 mt-1">
      <button class="btn btn-outline-success btn-sm rounded-5 profile-button" data-bs-toggle="modal" data-bs-target="#changeProfModal">ޕްރޮފައިލް ބަދަލު</button>
    </div>
  </div>
  {% if user_posts %}
    {% for post in user_posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">{{ post.date_posted|format_date }}</small>
          <div class="mb-1">
            <a class="btn btn-outline-secondary btn-sm rounded-5 ms-4 profile-button" href={% url 'blog-postupdate' post.pk %}>އަޕްޑޭޓް</a>
            <button class="btn btn-close btn-sm" data-bs-toggle="modal" data-bs-target="#deletePostModal"></button>
          </div>
        </div>
        <h2 class="my-3"><a class="article-title" href={% url 'blog-postdetail' post.id %}>{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}
  {% else %}
    <h3>No Posts</h3>
  {% endif %}
</div>
{% endblock content %}